{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Animais{% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'animal/css/animais.css' %}">
{% endblock 'head' %}




{% block content %}
<h2>Animais Disponíveis para Adoção</h2>
<a class="add-animal-btn" href="{% url 'criar_animal' %}">Adicionar Novo Animal</a>
<table>
    <tr>
        <th>Nome</th>
        <th>Espécie</th>
        <th>Raça</th>
        <th>Idade</th>
        <th>Porte</th>
        <th>Ações</th>
    </tr>
    {% for animal in animais %}
    <tr>
        <td>{{ animal.nome }}</td>
        <td>{{ animal.get_especie_display }}</td>
        <td>{{ animal.raca }}</td>
        <td>{{ animal.idade }} anos</td>
        <td>{{ animal.get_porte_display }}</td>
        <td>
            <a href="{% url 'detalhe_animal' animal.pk %}">Detalhes</a>
            <a href="{% url 'editar_animal' animal.pk %}">Editar</a>
            <a href="{% url 'deletar_animal' animal.pk %}">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Nenhum animal cadastrado.</td>
    </tr>
    {% endfor %}
</table>
{% endblock  %}
